<div class="container">
    
    <h2>{{movie.title}}</h2>
    <h3>{{movie.plot}}</h3>
    <div class="movie__info--img">
         <img  src="{{movie.poster}}"  alt="{{movie.poster}}">
    </div>
    <h3>{{movie.genres}}</h3>
    <h3>{{movie.cast}}</h3>
    <h3>{{movie.fullplot}}</h3>
    <h3>{{movie.languages}}</h3>
    <h3>{{movie.release}}</h3>
    <h3>{{movie.rated}}</h3>
    <h3>{{movie.year}}</h3>
    <h3>{{movie.imdb.rating}}</h3>


</div>